.favThings {
    width: 75%;
    display: flex;
    background: #90a0d9;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 25px 25px 25px 25px;
    align-self: center;
    
    border-radius: 25px;
    
}

.thing {
    display:flex;
    width: 33.33%;
    align-content:center;
    justify-content:center;
    flex-flow: column wrap;


}

.thing img:hover {
    opacity: 0.6;
}

.thing img {
    width: 225px;
    height: auto;
}