.home {
    width: 100%;
    min-height: 100vh;
    background-color: #F6F6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* Center content vertically */
}

body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to bottom, #F6F6F6, rgba(244, 60, 22, 0.8));
    border-top: 2px solid #101C41;
}

.names {
    display: flex;
    justify-content: center;
    /* Center the content horizontally */
    align-items: center;
    /* Center the content vertically */
    text-align: center;
    /* Center the text within each slice */
    width: 911px;
    /* Make the container take up the full width */
}

.slice {
    width: 20%;
    /* Adjust the percentage as needed */
    display: flex;
    flex-direction: column;
    /* Change to column layout */
    align-items: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    /* Add some spacing around each slice if needed */
}

.slice:not(:last-child) {
    border-right: 2px solid #101C41;
    /* Change the color as needed */
}

.rotated-link {
    /* Rotate the text 90 degrees left */
    transform: rotate(-90deg);
    /* Ensure that the rotation point is at the center */
    transform-origin: center;
    /* Styling for the link */
    text-decoration: none;
    color: #101C41;
    font-family: "Source Serif Pro", serif; /* Change to Source Serif Pro */

    font-size: 50px;
    /* Prevent text from wrapping */

    white-space: nowrap;
    /* Add an initially transparent underline */

    border-bottom: 2px solid transparent;
    /* Add transition for color and underline */

    transition: color 0.3s, transform 0.3s, border-bottom 0.3s;
}

.rotated-link:hover {
    /* Remove the default underline */

    text-decoration: none;
    /* Set the link color on hover */

    color: rgb(58, 69, 132);
    border-bottom: 2px solid #333;
    /* Solid underline on hover */
}
